body{
    font-family: 'Reenie Beanie', cursive;
    background-image: url('../images/NotebookPaperOnDeskBG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;     
}


#all-input-items{
    display: flex;
    justify-content: center;
}

#title-container{
    display: inline;
    float: left;
}

#due-date-container{
    display: inline;
    float: left;
}

#checkbox-container{
    display: inline;
    float: left;
}

h1{
    font-size: 300%;
    font-weight: bold;
}

h2{
    font-size: 200%;
}

h1, h2{
    text-decoration: underline;
    text-align: center;
}

.major-priority{
    color: red;
}

.medium-priority{
    color: orange;
}

.minor-priority{
    color: green;
}

.completed{
    opacity: 50%;
    text-decoration: line-through;
    color: black;
}

.all-items{
    height: auto;
    display: flex;
    justify-content: center;
}

#complete-items{
    display: flex;
    justify-content: center;

}

#incomplete-items{
    display: flex;
    justify-content: center;

}

